@media (min-width: 768px) {

    .modal-buttons {
        flex-direction: row; 
    }

    main {
        padding: 5em;
    }

    .botaoMenu {
        display: none;
    }

    .sidebar {
        position: static;
        width: auto;
        height: auto;
        left: auto;
        top: auto;
        background-color: transparent;
        display: flex;
        align-items: center;
        margin: 0;
        flex-direction: row;
        z-index: auto;
        transition: none;
        padding: 0;
    }

    .sidebar ul {
        display: flex;
        flex-direction: row;
        list-style: none;
        padding: 0;
        margin: 0;
        width: auto;
    }

    .sidebar li {
        margin: 0 15px;
        list-style: none;
    }

    .sidebar a {
        padding: 5px 0px;
        color: white;
        border-bottom: none;
        display: block;
        font-size: 1em;
    }

    .sidebar a:hover {
        background-color: transparent;
        color: #8A38F5;
    }

    .logo {
        padding-left: 150px;
    }

    main video,
    nav,
    #form-feedback {
        width: 60%;
    }

    main nav {
        gap: 2em;
    }

    .video-distracao-pequeno {
        top: 15%;
        position: fixed;
        left: 1%;
        width: 350px;
        max-width: none;
        height: auto;
    }

    #modal-distracao {
        left: auto;
        right: 20px;
        bottom: 20px;
        transform: translateX(120%);
    }

    #modal-distracao.modal-ativo {
        transform: translateX(0);
    }

    .gif-rotativo,
    .gif-ativo {
        width: 200px;
        top: 10%;
        right: 5%;
    }

    .video-distracao-direito,
    .video-distracao-esquerdo,
    .equacoes {
        position: fixed;
        object-fit: cover;
    }

    .video-distracao-direito {
        top: 15%;
        right: 2%;
        width: 360px;
        height: 550px;
    }

    .video-distracao-esquerdo {
        top: 15%;
        left: 2%;
        max-width: 360px;
        height: 550px;
    }

    .equacoes {
        top: 31%;
        left: 0;
        width: 350px;
        height: 280px;
    }

    .video-distracao-direito.ativo,
    .video-distracao-esquerdo.ativo,
    .equacoes.ativo,
    .video-distracao-pequeno.ativo {
        display: inline-block;
    }

    .membros {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-items: center;
    }
}